.product-detail{
    position: relative;
    left: 70px;
}
h1 {
    position: relative;
    padding: 0;
    text-decoration: underline;
    text-decoration-color: #35a5da;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    font-weight: bold;
}
h4{
    position: relative;
    right: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.movie-list {
    text-align: center;
    position: relative;
    left: 70px;
}
.card-counter {
    height: 150px;
    width: 150px;
    padding: 0;
    position: relative;
    left: 58vw;
    bottom: 45vh;
}